<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>How much stress does a stressmachine stress a stressant or stresser?</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Welcome to the Stress Machine! how stressful is your stress and what should you do?</h1>
      <h2>Please select the closest to your current situation in the multiple choice</h2>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">Please enter an ID for most efficient registration</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Aaaaaaaa Prime">
        </div>
        <div class="form-group">
          <label for="input_dropdown">What is the current due date for the earliest assignment you have not turned in?</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Over a month away</option>
            <option>Only a week left</option>
            <option>It's due in 5 minutes pls help </option>
            <option>I dunno see my secretary about that. What do you think I am, responsible?</option>
            <option>Yesterday, I swear it was because of circumstances</option>
            <option>A month ago and I <b>really care please help ahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</b></option>
            <option> </option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_select">When was the last time you felt happy?</label>
          <select class="form-control" name="HappyIndex" id="HappyIndex">
            <option>When I was with friends last week</option>
            <option>When I was home alone snuggled up</option>
            <option>Last month before I got this really bad project</option>
            <option><strong>i don't remember all i know is stress and procrastination</strong></option>
            <option>I, as an edgy teen, have never felt happiness and all I know is death and missery. I came out of the womb reading "The Raven" with Guyliner.</option>
          </select>
        </div>
        <div class = "form-group">
          <label for="input_select">How often do you destress?</label>
          <select class="form-control" name="Destress" id="Destress">
            <option>Every time I get high duuud-Wait, you aren't with the feds are you?</option>
            <option>Once a week I try to have a me day so I don't crumble to a ball of anxiety</option>
            <option>Destress? Are you traying to get me off coffee? HUH? HUH? ARE YOU? GET OUT!</option>
            <option>I don't have time, but I make it by procrastination.</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

