<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>The Sorting Hat</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Welcome to Hogwarts!</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">First Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Albus Dumbledore">
        </div>
        <div class="form-group">
          <label for="input_dropdown">What is your favorite spell?</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Wingardium Leviosa</option>
            <option>Expecto Patronum</option>
            <option>Stupefy</option>
            <option>Aguamenti</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_select">What is your favorite potion?</label>
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>Amortentia</option>
            <option>Polyjuice</option>
            <option>Veritaserum</option>
            <option>Felix Felicis</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_freeform">What is your favorite flavor of bernie botts every flavored beans?</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

